name: LinkCheck

on:
  push:
    branches: ['*']
    paths: ['README.md']
  pull_request:
    paths: ['README.md']
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: docker://dkhamsing/awesome_bot:latest
      with:
        args: /github/workspace/README.md --allow-redirect --white-list https://www.facebook.com/groups/205764024543769